<div [ngSwitch]="isAdmin">
  <div class="navbar" *ngSwitchCase="['admin']">
    <app-header></app-header>
    <a routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a routerLink="/chat"><i class="fa fa-fw fa-envelope"></i> Chat</a>
    <a (click)="toggleUserMenu()"><i class="fa fa-fw fa-user"></i> {{username}}</a>
    <div class="user-menu" *ngIf="showUserMenu">
      <app-right-menu></app-right-menu>
    </div>
  </div>
  <div class="navbar" *ngSwitchCase="['cliente']">
    <app-header></app-header>
    <a routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a routerLink="/chat"><i class="fa fa-fw fa-envelope"></i> Contattaci</a>
    <a (click)="toggleUserMenu()"><i class="fa fa-fw fa-user"></i> {{username}}</a>
    <div class="user-menu" *ngIf="showUserMenu">
      <app-right-menu></app-right-menu>
    </div>
  </div>
  <div class="navbar" *ngSwitchDefault>
    <app-header></app-header>
    <a routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a routerLink="/chat"><i class="fa fa-fw fa-envelope"></i> Contattaci</a>
    <a routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>
</div>
