<div [ngSwitch]="isAdmin">
  <div class="navbar2" *ngSwitchCase="['admin']">
    <a href="/admin/pannello"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/admin/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a href="/admin/ordini"><i class="fa fa-fw fa-search"></i> Ordini</a>
    <a href="/admin/clienti"><i class="fa fa-fw fa-search"></i> Clienti</a>
    <a href="/admin/chat"><i class="fa fa-fw fa-envelope"></i> Chat</a>
    <a href=""><i class="fa fa-fw fa-user"></i> {{username}}</a>
  </div>
  <div class="navbar" *ngSwitchCase="['cliente']">
    <a routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a routerLink="/chat"><i class="fa fa-fw fa-envelope"></i> Contattaci</a>
    <a routerLink="/login"><i class="fa fa-fw fa-user"></i> {{username}}</a>
  </div>
  <div class="navbar" *ngSwitchDefault>
    <a routerLink="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a routerLink="/servizi"><i class="fa fa-fw fa-search"></i> Servizi</a>
    <a routerLink="/chat"><i class="fa fa-fw fa-envelope"></i> Contattaci</a>
    <a routerLink="/login"><i class="fa fa-fw fa-user"></i> Login</a>
  </div>
</div>
