<app-navbar></app-navbar>
<div class="password-container">
  <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)" *ngIf="isAdmin == 'admin' || isAdmin == 'cliente'">
    <mat-form-field appearance="outline">
      <mat-label>Nuova password</mat-label>
      <input matInput type="password" name="password" ngModel required />
    </mat-form-field>
    <br />
    <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!passwordForm.valid"
        >
        Conferma
    </button>
  </form>
  <form #recuperaPasswordForm="ngForm" (ngSubmit)="onSubmitRecupera(recuperaPasswordForm)" *ngIf="isAdmin != 'admin' && isAdmin != 'cliente'">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" required ngModel />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required email ngModel />
    </mat-form-field>
    <br />
    <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!recuperaPasswordForm.valid"
        >
        Recupera
    </button>
  </form>
</div>
<app-footer></app-footer>
