<app-navbar></app-navbar>
<div [ngClass]="isAdmin == 'admin' || isAdmin == 'cliente' ? 'password-container' : 'recupera-password-container'">
  <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)" *ngIf="isAdmin == 'admin' || isAdmin == 'cliente'">
    <mat-form-field appearance="fill">
      <mat-label>Nuova password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" name="password" ngModel required />
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Conferma password</mat-label>
      <input matInput [type]="showConfirmPassword ? 'text' : 'password'" name="confermaPassword" ngModel required />
      <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
        {{showConfirmPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </mat-form-field>
    <br />
    <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!passwordForm.valid"
        >
        Conferma
    </button>
  </form>
  <form #recuperaPasswordForm="ngForm" (ngSubmit)="onSubmitRecupera(recuperaPasswordForm)" *ngIf="isAdmin != 'admin' && isAdmin != 'cliente'">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" required ngModel />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required email ngModel />
    </mat-form-field>
    <br />
    <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!recuperaPasswordForm.valid"
        >
        Recupera
    </button>
  </form>
</div>
<app-footer></app-footer>
