<app-navbar></app-navbar>
<div class="log-container">
  <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)" *ngIf="isAdmin == 'admin' || isAdmin == 'cliente'">
      <span>Nuova Password</span><br>
      <input type="password" name="password" ngModel required/><br>
      <br>
      <input type="submit" value="Conferma" class="btn btn-success"/>
  </form>
  <form *ngIf="isAdmin != 'admin' && isAdmin != 'cliente'">
    <span>Username</span><br>
    <input type="text" name="username" ngModel required/><br>
    <br>
    <span>Email</span><br>
    <input type="email" name="email" ngModel required/><br>
    <br>
    <input type="submit" value="Recupera" class="btn btn-success"/>
  </form>
</div>
<app-right-menu></app-right-menu>
