<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Copyright 2023 - Hair Vibe. Tutti i diritti riservati.</h3>
      </div>
      <div class="col">
        <div class="d-inline-flex social">
          <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-official"></i></a>
          <a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
          <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter-square"></i></a>
          <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
