<app-navbar></app-navbar>
<div [ngSwitch]="isAdmin">
  <div *ngSwitchCase="['cliente']">
   <div>
    <input type="text" (input)="search($event)" placeholder="Cerca servizio..." style="width: 500px; margin: 10px; background-color: transparent;">
    <i class="fa fa-fw fa-search"></i>
   </div>
    <div class="row" style="margin-left: 5px;">
      <mat-card class="card" *ngFor="let servizio of servizi">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{servizio.descrizione}}</mat-card-title>
            <mat-card-subtitle>{{servizio.prezzo | currency:'EUR'}}</mat-card-subtitle>
            <img mat-card-md-image src="/assets/img/ph.png"  alt="Servizio Estetico">
            <form #ordinaForm="ngForm" (ngSubmit)="onSubmit(ordinaForm)">
              <span>Data : </span><input type="date" name="data" ngModel required/><br><br>
              <span>Orario : </span><input type="time" name="orario" ngModel required/><br><br>
              <span>Quantità : </span><input type="number" name="quantita" ngModel required/><br><br>
              <input type="hidden" ngModel={{servizio.id}} name="servizio" required/>
              <input type="hidden" ngModel={{utenti.get(user)}} name="utente" required/>
              <input type="submit" value="Ordina" class="btn btn-primary">
            </form>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div *ngSwitchCase="['admin']">
    <div class="crea-servizio">
			<form #aggiungiServizioForm="ngForm" (ngSubmit)="onSubmitAdmin(aggiungiServizioForm)">
				<span>Descrizione</span><br>
				<textarea name="descrizione" ngModel required rows="5" cols="50"></textarea><br>
				<span>Prezzo</span><br>
			    <input type="number" name="prezzo" ngModel required/><br>
			    <br>
			    <input type="submit" value="Aggiungi" class="btn btn-success"/>
			</form>
		</div>
    <div>
      <table>
        <tr>
            <th>ID Servizio</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let servizio of servizi">
            <td>{{servizio.id}}</td>
            <td>{{servizio.descrizione}}</td>
            <td>{{servizio.prezzo | currency:'EUR'}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div *ngSwitchDefault>
    <div class="row" style="margin-left: 5px;">
      <mat-card class="card" *ngFor="let servizio of servizi">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{servizio.descrizione}}</mat-card-title>
            <mat-card-subtitle>{{servizio.prezzo | currency:'EUR'}}</mat-card-subtitle>
            <img mat-card-md-image src="/assets/img/ph.png"  alt="Servizio Estetico">
            <form>
              <span>Data : </span><input type="date" name="data" ngModel required/><br><br>
              <span>Orario : </span><input type="time" name="orario" ngModel required/><br><br>
              <span>Quantità : </span><input type="number" name="quantita" ngModel required/><br><br>
              <input type="button" value="Ordina" class="btn btn-success" routerLink="/login">
            </form>
          </mat-card-title-group>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<app-right-menu></app-right-menu>
