.card {
  max-width: 525px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: black;
  background-color: pink;
  font-size: small;
  font-weight: bold;
}

.crea-servizio {
	position: fixed;
	top: 60%;
	left: 60%;
	transform: translate(-50%, -50%);
	display: inline-flex;
  background-color: grey;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  padding: 30px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 40%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
	background-color: white;
}

tr {
	text-align: center;
  background-color: pink;
}

.input-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 78.5%;
}

.input-container input {
  flex: 1;
  border: none;
  outline: none;
}

.input-container span {
  color: black;
  margin-left: 5px;
  font-size: 16px;
}
