<app-navbar></app-navbar>
<div [ngSwitch]="isAdmin">
  <div *ngSwitchCase="['cliente']">
    <table>
      <tr>
          <th>ID Ordine</th>
          <th>Data</th>
          <th>Orario</th>
          <th>Quantità</th>
          <th>Servizio</th>
      </tr>
      <tr *ngFor="let ordine of ordini">
          <td>{{ordine.id}}</td>
          <td>{{ordine.data}}</td>
          <td>{{ordine.orario}}</td>
          <td>{{ordine.quantita}}</td>
          <td>{{catalogo.get(ordine.servizio)}}</td>
        <!--
        <form #rimuoviOrdineForm="ngForm" (ngSubmit)="onSubmit(rimuoviOrdineForm)">
          <td><input type="number" name="id" value="{{ordine.id}}" readonly ngModel/></td>
          <td><input type="date" name="data" value="{{ordine.data}}" readonly/></td>
          <td><input type="time" name="orario" value="{{ordine.orario}}" readonly/></td>
          <td><input type="number" name="quantita" value="{{ordine.quantita}}" readonly/></td>
          <td>Descrizione servizio ph</td>
          <td><input type="submit" value="Rimuovi" class="btn btn-danger"></td>
        </form>
        -->
      </tr>
    </table>
  </div>
  <div *ngSwitchCase="['admin']">
    <table>
      <tr>
          <th>ID Ordine</th>
          <th>Cliente</th>
          <th>Data</th>
          <th>Orario</th>
          <th>Quantità</th>
          <th>Servizio</th>
      </tr>
      <tr *ngFor="let ordine of prenotazioni">
          <td>{{ordine.id}}</td>
          <td>{{utenti.get(ordine.utente)}}</td>
          <td>{{ordine.data}}</td>
          <td>{{ordine.orario}}</td>
          <td>{{ordine.quantita}}</td>
          <td>{{catalogo.get(ordine.servizio)}}</td>
      </tr>
    </table>
  </div>
</div>
