.right-menu {
  float: right;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: grey;
  overflow-y: auto;
}

a {
  margin-bottom: 50px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-style: oblique;
  padding: 10px;
  border-radius: 50%;
}

a:hover {
  background-color: yellow;
}
