.right-menu {
  position: fixed;
	top: 31%;
	left: 80%;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 60px;
  background-color: grey;
}

a {
  margin-bottom: 50px;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  font-style: oblique;
  padding: 10px;
  border-radius: 50%;
}

a:hover {
  background-color: yellow;
}
