<app-navbar></app-navbar>
<div class="container2">
  <div class="connect-container">
      <div class="input-container">
          <input type="text" id="sender" value="{{username}}" />
      </div>
      <div>
          <button id="button-connect" onclick="connect();">
              CONNETTI
          </button>
          <button id="button-disconnect" onclick="disconnect();">
              DISCONNETTI
          </button>
      </div>
  </div>
  <div id="chat-container">
      <div id="messages-container"></div>
      <div class="send-message-container">
          <div class="input-container">
              <input type="text" id="text" placeholder="Scrivi un messaggio"/>
          </div>
          <div>
              <button id="button-sendmessage" onclick="sendMessage();">INVIA</button>
          </div>
      </div>
  </div>
</div>
<app-right-menu></app-right-menu>
