<app-navbar></app-navbar>
<div class="main-chat-container">
  <div class="connect-container">
      <div class="input-container">
          <input type="hidden" id="sender" value={{username}} />
      </div>
  </div>
  <div id="chat-container">
      <div id="messages-container"></div>
      <div class="send-message-container">
          <div class="input-container">
              <textarea type="text" id="text" placeholder="Scrivi un messaggio ..." rows="3" cols="65"></textarea>
          </div>
          <div>
              <button class="btn btn-success" (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
