<app-navbar></app-navbar>
<div>
  <div class="container">
    <div class="row">
      <div class="col claim">
        <img src="/assets/img/claim.jpg" alt="Parrucchiera che lavora" />
      </div>
      <div class="col claim">
        <div class="row claim-text">
          <p>
            <i>
              <strong>
                <h2>Benvenuti nel nostro salone!</h2>
                <br />
                Vuoi effettuare un cambio look? Allora sei nel posto giusto!<br />
                Scopri tutti i servizi offerti nel nostro salone!<br />
                Prenotarti semplicemente online e vieni a trovarci!<br />
                Saremmo lieti di aiutarti!
              </strong>
            </i>
          </p>
        </div>
        <div class="row">
          <div class="col orari">
            <h2>
              <u><strong>Orari di lavoro</strong></u>
            </h2>
            <p>
              <strong>dal Martedì al Sabato</strong><br />
              <strong>Mattino:</strong> 09:00 - 13:00 <br />
              <strong>Pomeriggio:</strong> 15:00 - 19:00 <br />
            </p>
            <p style="color: red"><strong>Domenica e Lunedì:</strong> Chiuso</p>
          </div>
          <div class="col contatti">
            <h2>
              <u><strong>Contatti</strong></u>
            </h2>
            <span><strong>Tel.: </strong><a href="tel:+390882640123">0882 640123</a></span><br />
            <span><strong>Cell.: </strong><a href="tel:+393401234567">340 1234567</a></span><br />
            <span><strong>Email: </strong><a href="mailto:hairvibe@gmail.com">hairvibe@gmail.com</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col about">
        <h2>
          <u><strong>Chi siamo?</strong></u>
        </h2>
        <p>
          <strong>Hair Vibe</strong> è un salone parrucchiere altamente
          specializzato.<br> Parrucchiere per donna, effettua tagli moderni adatti
          ad ogni viso e ad ogni stile nel rispetto dei lineamenti personali.<br>
          Per la bellezza e lo stile dei capelli, un team di professionisti
          mette a disposizione esperienza, talento e una consulenza
          personalizzata.<br> Ogni particolare esigenza viene analizzata prima di
          procedere con taglio, colore, trattamenti e acconciature.<br>
          L’obiettivo è sempre quello di esaltare ed esprimere ogni diversa personalità
          dando quel tocco unico che permette di ritrovare la propria forma
          migliore.<br> Propone metodi, prodotti e trattamenti di ultima
          generazione, ogni trattamento viene eseguito con la massima cura, i
          prodotti utilizzati sono stati selezionati tra i migliori nel settore.<br>
          Vieni a scegliere il taglio, il colore e l’acconciatura insieme ai
          professionisti, per ottenere il risultato perfetto che desideri in
          armonia con la tua personalità.<br>
          <strong>VIENI DA NOI E SCOPRI IL TUO STILE!!!</strong>
        </p>
        <img src="/assets/img/about.jpg" alt="Parrucchiera che apetta cliente" />
      </div>
      <div class="col mappa">
        <h2>
          <u><strong>Dove siamo?</strong></u>
        </h2>
        <div class="google-maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.0830083343617!2d15.442519214776654!3d41.78342467931374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13376afa92c91205%3A0x80fee13eafe4dff7!2sVia%20Roma%2C%2071011%20Apricena%20FG!5e0!3m2!1sit!2sit!4v1676972414799!5m2!1sit!2sit"
            frameborder="0"
            style="border: 0"
            width="600"
            height="450"
          ></iframe>
        </div>
        <div class="sede">
          <h3>
            <u><strong>Indirizzo</strong></u>
          </h3>
          <h4>Hair Vibe srls</h4>
          <address>Via Roma - 71011 Apricena (FG)</address>
          <h4>P.IVA 0123456789000 - C.F. 0123456789000</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
