<app-navbar></app-navbar>
<div class="d-flex">
  <div class="claim">
    <p>
      <i><strong>
      <h2 style="text-align: center; font-weight: bold;">Benvenuti nel nostro salone!</h2><br>
      Vuoi effettuare un cambio look? Allora sei nel posto giusto!<br>
      Scopri tutti i servizi offerti nel nostro salone!<br>
      Prenotarti semplicemente online e vieni a trovarci!<br>
      Saremmo lieti di aiutarti!
    </strong></i>
    </p>
  </div>
  <div class="orari">
    <h2><u><strong>Orari di lavoro</strong></u></h2>
    <p><strong>Martedì:</strong> 08:30 - 19:00 <br>
      <strong>Mercoledì:</strong> 08:30 - 19:00 <br>
      <strong>Giovedì:</strong> 08:30 - 19:00 <br>
      <strong>Venerdì:</strong> 08:30 - 19:00 <br>
      <strong>Sabato:</strong> 08:30 - 19:00 <br>
    </p>
    <p style="color: red;">
      <strong>Domenica e Lunedì:</strong> Chiuso
    </p>
  </div>
  <div class="mappa">
    <h2><u><strong>Dove siamo?</strong></u></h2>
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2975.0830083343617!2d15.442519214776654!3d41.78342467931374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13376afa92c91205%3A0x80fee13eafe4dff7!2sVia%20Roma%2C%2071011%20Apricena%20FG!5e0!3m2!1sit!2sit!4v1676972414799!5m2!1sit!2sit" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>
