@charset "ISO-8859-1";

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
	border-radius: 5px 5px 0 0;
}

body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("/img/salone.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	text-align: center;
}

.log-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-flex;
}

.ask {
	text-align: center;
	margin: 0;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.ask > span, a {
	font-weight: bold;
}

.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 25%; /* Four links of equal widths */
	text-align: center;
}

.navbar a:hover {
	background-color: #555;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

.user {
	width: 150px;
	position: absolute;
	top: 200px;
	left: 1150px;
}

.user a {
	float: left;
	padding: 12px;
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.user a:hover {
	color: blue;
	font-weight: bold;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr {
	text-align: center;
}

.navbar2 {
	width: 100%;
	background-color: #555;
	overflow: auto;
}

.navbar2 a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	width: 16.66%; /* Six links of equal widths */
	text-align: center;
}

.navbar2 a:hover {
	background-color: #000;
}

@media screen and (max-width: 500px) {
	.navbar2 a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
}

#disconnect {
	display: none;
}

#button-connect, #button-disconnect {
	color: #ffffff;
	border: none;
	cursor: pointer;
}

#button-connect {
	background-color: green;
}

#button-disconnect {
	background-color: #d32f2f;
}

.container2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	max-width: 600px;
	margin: 0 auto;
}

.connect-container {
	display: flex;
	align-items: center;
}

#chat-container {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#messages-container {
	flex-basis: 60%;
	overflow: auto;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #000000;
	background-color: #ffffff;
}

.new-message {
	display: flex;
}

.new-message-box {
	padding: 5px;
	margin: 5px;
	border: 1px solid #c6c6c6;
	border-radius: 3px;
}

.new-message-box .details-container {
	font-size: 12px;
	text-align: right;
}

.new-message.left {
	justify-content: flex-start;
}

.new-message.left .new-message-box {
	background-color: #ffccbc;
}

.new-message.right .new-message-box {
	background-color: #b2dfdb;
}

.new-message.right {
	justify-content: flex-end;
}

.send-message-container {
	display: flex;
	align-items: center;
}

.input-container {
	flex-basis: 100%;
}

.input-container input {
	width: 100%;
}

.connect-container>div, .send-message-container>div {
	padding: 5px;
}

#button-sendmessage {
	background-color: green;
	color: white;
	border: none;
	cursor: pointer;
}