<div class="log-container">
  <form #signForm="ngForm" (ngSubmit)="onSubmit(signForm)" class="col">
    <span>Username</span><br>
    <input type="text" name="username" required ngModel/><br>
    <span>Email</span><br>
    <input type="text" name="email" required email ngModel/><br>
    <span>Password</span><br>
    <input type="password" name="password" required ngModel/><br>
    <br>
    <input type="submit" value="Registrati" class="btn btn-success"/>
</form>
  <div class="col">
    <div class="row">
      <a href="#" class="btn" style="background-color:blue; color:white; padding:2%; margin:2%; width:250px;">
            <i class="fa fa-facebook fa-fw"></i><strong> Registrati con Facebook</strong>
          </a>
          <a href="#" class="btn" style="background-color:#007fff; color:white; padding:2%; margin:2%; width:250px;">
            <i class="fa fa-twitter fa-fw"></i><strong> Registrati con Twitter</strong>
          </a>
          <a href="#" class="btn" style="background-color:red; color:white; padding:2%; margin:2%; width:250px;">
            <i class="fa fa-google fa-fw"></i><strong> Registrati con Google</strong>
          </a>
    </div>
    </div>
</div>
<br><br>
<div class="ask">
  <span>Sei già registrato? </span><a routerLink="/login">Accedi</a>
</div>
