.log-container {
	position: absolute;
	top: 40%;
	left: 50%;
	display: inline-flex;
  background-color: grey;
  text-align: center;
  margin: 0;
  padding: 10px;
  bottom: 10%;
  transform: translateX(-50%);
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
}
