table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
	background-color: white;
}

tr {
	text-align: center;
  background-color: pink;
}
